<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ya te registraste bravo</h1>
    <h2>Pos se supone que aqui te deberia avisar que te vamos a verificar los datos</h2>
</body>
</html>