<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>si lo ves con cuki esta bien</h1>

    <% if (userejs) { %>
        <span class="badge bg-success"><%= userejs.NombreG %></span>
      <% } %>
    </h2>
    
</body>
</html>